name: Docker multiarch publish

on:
  push:
    tags:
      - "v*"

jobs:
  buildandpush:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # https://github.com/martinbeentjes/npm-get-version-action
      - name: Get version from package.json
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      # https://github.com/booxmedialtd/ws-action-parse-semver
      - name: Parse version
        id: semver-version
        uses: booxmedialtd/ws-action-parse-semver@v1
        with:
          input_string: ${{ steps.package-version.outputs.current-version}}

      # https://github.com/docker/setup-qemu-action#usage
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # https://github.com/docker/login-action#github-container-registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/build-push-action#multi-platform-image
      - name: Build and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/node-toogoodtogo-watcher:latest
            ghcr.io/${{ github.repository_owner }}/node-toogoodtogo-watcher:${{ steps.semver-version.outputs.major }}
            ghcr.io/${{ github.repository_owner }}/node-toogoodtogo-watcher:${{ steps.semver-version.outputs.major }}.${{ steps.semver-version.outputs.minor }}
            ghcr.io/${{ github.repository_owner }}/node-toogoodtogo-watcher:${{ steps.semver-version.outputs.fullversion }}
